---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="O mnie">
  <main>
    <article class="landing">
      <section class="left">
        <h1>Kilka <span>słów</span> o mnie</h1>
        <p>
          Pochodzę z Dolnego Śląska, tam też ukończyłem technikum informatyczne.
          Odkąd w moim domu pojawił się komputer zacząłem tworzyć swoje prace w
          Paint'cie. <br /><br />Pierwsze aplikacje budowałem w Scratchu, jednak
          od zawsze ciągnęło mnie do grafiki. Pasja do kreskówek i gier
          komputerowych zainspirowała mnie do stworzenia własnej serii komiksów,
          którą rozwijam do dziś. Stale mam nowe pomysły na różne wątki i
          historie.
        </p>
      </section>
      <section class="right"></section>
    </article>
    <article class="landing-blue">
      <section class="leftb"></section>
      <section class="rightb">
        <p>
          W gimnazjum udało mi się kupić mój pierwszy komputer. Pierwsze prace
          graficzne tworzyłem metodą "szkicownik-skaner-myszka" (polegało to na
          stworzeniu rysunku na kartce, zeskanowaniu go skanerem i odrysowaniem
          za pomocą myszki). Dopiero w technikum, gdzie też poznałem technologie
          webowe, zainwestowałem w tablet graficzny. Oba sprzęty służą mi do
          dzisiaj. <br /><br />Chciałem dalej rozwijać swoje umiejętności,
          dlatego szukałem pracy, która pozwoliłaby mi realizować pasję. Dzięki
          rekomendacji kuzyna, zainteresowałem się frameworkiem Symfony.
          Odpowiednie kursy pomogły mi odkryć nowoczesne podejście do kodowania
          stron, co znacząco wykraczało poza schematy znane ze szkoły.
        </p>
      </section>
    </article>
    <article class="landingDown">
      <section class="left">
        <p>
          Trafiłem jednak do pracy w agencji reklamowej i sprzedaży detalicznej.
          Tutaj odkryłem jak się obchodzić z grafiką komercyjną od kuchni.
          Wiedziałem jednak, że trudno mi będzie znaleźć pracę w branży IT w
          moich okolicach. Dlatego też serce i rozum zaprowadziły mnie do
          Kalisza. Postanowiłem również studiować zaocznie informatykę we
          Wrocławiu.<br /><br />
          Znalazłem pracę jako IT Support, co też pozwoliło mi na doszlifowanie wiedzy
          informatycznej. W międzyczasie przygotowywałem swoje portfolio oraz przyjmowałem
          mniejsze zlecenia graficzne. Udzielałem się też na forach internetowych,
          gdzie pomagałem innym w ich problemach z komputerami czy programowaniem.
        </p><p>
          Aktualnie nie mam zamiaru się zatrzymywać - jeszcze wiele nauki i
          marzeń do spełnienia przede mną.
        </p>
      </section>
      <section class="right"></section>
    </article>
  </main>
</Layout>

<style>
  p {
    font-size: 1.2rem;
    font-weight: 350;
    max-width: 65ch;
    text-wrap: balance;
  }

  @container main (max-width: 768px) {
    p{
      font-size: 0.8rem;
    }
  }
</style>
