---
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
---

<Layout title="Contact">
  <main>
    <article class="landing">
      <section class="left">
        <h1>
          „Sharing <b>tea</b> with a fascinating stranger is <b
            >one of life's</b> true delights.”
        </h1>
        <p>
          Therefore, I invite you for a proverbial tea - if you have
          questions, want to chat, or establish cooperation, write to me.
          I will gladly respond to every email.
        </p>
        <ul>
          <li>
            <strong>Email: </strong><a href="mailto:kacper.tw150@gmail.com" aria-label="My email"
              >kacper.tw150@gmail.com</a
            >
          </li>
          <li>
            <strong>LinkedIn: </strong><a
              href="https://www.linkedin.com/in/kacper-twardowski-a7b0a42a3/" aria-label="My LinkedIn profile"
              >Kacper Twardowski</a
            >
          </li>
          <li>
            <strong>Instagram: </strong><a
              href="https://www.instagram.com/_ktwardowski_/" aria-label="My Instagram profile">@_ktwardowski_</a
            >
          </li>
          <li>
            <strong>GitHub: </strong><a href="https://github.com/Panelinio" aria-label="My GitHub profile"
              >Panelinio</a
            >
          </li>
        </ul>
      </section>
      <section class="right"></section>
    </article>
  </main>
</Layout>

<style>
  strong {
    color: var(--accent);
    font-size: 1.2rem;
  }

  main{
    min-height: 0px;
  }

  h1 {
    font-size: 2.1rem;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 1.2em;
  }
  .landing {
    display: flex;
  }
  .left {
    width: 60%;
    padding-right: 1rem;
  }
  .right {
    width: 40%;
  }
  b {
    color: var(--accent);
  }
  .left p {
    margin-bottom: 2em;
  }
  .left ul {
    list-style: none;
    padding: 0;
  }
  .left ul li {
    margin-bottom: 1rem;
  }
  .left ul li a {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: var(--accent-white);
    transition: all 0.2s ease-out 0.5ms;
    font-size: 1.2rem;
  }

  .left ul li a:hover {
    color: var(--accent);
  }

  .left ul li a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    left: 0;
    background: var(--accent);
    transition:
      width 0.4s ease,
      left 0.4s ease;
  }

  .left ul li a:hover::after {
    width: 100%;
    left: 0;
  }

  @container main (max-width: 768px) {
    .left {
      width: 100%;
      padding: 1rem;
    }

    p{
      font-size: 0.8rem;
    }

    h1{
      font-size: 1.4rem;
    }

    .left ul li a {
      font-size: 0.9rem;
    }

    .left ul li {
      margin-bottom: 0.5rem;
    }

    strong {
      font-size: 1rem;
    }
    
  }
</style>
