---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Strona główna">
  <main>
    <article class="landing">
      <section class="left">
        <h1>Cześć, jestem <span>Kacper</span></h1>
        <p>
          Wielbiciel kawy, muzyki rockowej i kreskówek. Na co dzień pracuję jako <strong
            >Web Developer</strong
          > i <strong>Graphic Designer</strong>, a w wolnym czasie oddaję się
          rysunkom i siłowni.
        </p>
        <button><a href="/about/">Więcej o mnie</a></button>
      </section>
      <section class="right"></section>
    </article>
    <article class="landing-blue">
      <section class="leftb"></section>
      <section class="rightb">
        <p></p>
      </section>
    </article>
    <article class="landing">
      <section class="left">
        <p></p>
      </section>
      <section class="right"></section>
    </article>
  </main>
</Layout>
