---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Strona główna">
	<main>
		<header>
			<a href="/">kTwardowski</a>
			<nav>
				<a href="/portfolio/">Portfolio</a>
				<a href="/contact/">Contact</a>
				<a href="/blog/">Blog</a>
			</nav>
		</header>
		<article>
			<section class="left">
				<h1>Cześć, jestem Kacper</h1>
				<p>
					Programista, który lubi tworzyć nowe rzeczy. Na co dzień pracuję jako <strong>Web Developer</strong> i <strong>Graphic Designer</strong>, a w wolnym czasie rozwijam swoje umiejętności w innych dziedzinach IT.
				</p>
			</section>
			<section class="right">

			</section>
		</article>
	</main>
</Layout>

<style>

	h1 {
		font-size: 3.4rem;
		font-weight: 700;
		line-height: 1;
		margin-bottom: 1em;
		text-wrap: balance;
	}

	.left, .right {
		width: 50%;
	}

	p {
		font-size: 1.25rem;
		line-height: 1.5;
		max-width: 65ch;
		text-wrap: balance;
	}

</style>
