---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Strona główna">
  <main>
    <article class="landing">
      <section class="left">
        <h1>Cześć, jestem <span>Kacper</span></h1>
        <p>
          Wielbiciel kawy, muzyki rockowej i kreskówek. Na co dzień pracuję jako <strong
            >Web Developer</strong
          > i <strong>Graphic Designer</strong>, a w wolnym czasie oddaję się
          rysunkom i siłowni.
        </p>
        <button><a href="/about/">Więcej o mnie</a></button>
      </section>
      <section class="right"></section>
    </article>
    <svg
      class="waves"
      viewBox="0 0 3668.157 320"
      version="1.1"
      id="svg1"
      sodipodi:docname="wave.svg"
      width="3668.157"
      height="320"
      inkscape:version="1.3.2 (091e20e, 2023-11-25, custom)"
      xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
      xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:svg="http://www.w3.org/2000/svg"
    >
      <defs id="defs1"></defs>
      <sodipodi:namedview
        id="namedview1"
        pagecolor="#505050"
        bordercolor="#eeeeee"
        borderopacity="1"
        inkscape:showpageshadow="0"
        inkscape:pageopacity="0"
        inkscape:pagecheckerboard="0"
        inkscape:deskcolor="#505050"
        inkscape:zoom="0.25"
        inkscape:cx="2056"
        inkscape:cy="174"
        inkscape:window-width="1920"
        inkscape:window-height="1111"
        inkscape:window-x="-9"
        inkscape:window-y="410"
        inkscape:window-maximized="1"
        inkscape:current-layer="svg1"></sodipodi:namedview>
      <path
        fill="#34679b"
        fill-opacity="1"
        d="M 0,179.20024 V 284.80097 H 23.320161 V 267.20085 H 46.585322 V 179.20024 H 69.905483 V 144 h 23.265161 v 35.20024 H 116.4908 v 105.60073 h 23.26517 v -35.20024 h 23.32016 v 35.20024 h 23.26516 V 161.60012 h 23.32016 v 70.40049 h 23.26516 v 17.60012 h 23.32016 v -70.40049 h 23.26516 v 0 h 23.32016 v -17.60012 h 23.26516 v 105.60073 h 23.32016 v -70.40049 h 23.26516 v 70.40049 h 23.32017 V 196.80036 H 419.3229 V 144 h 23.26516 v 35.20024 h 23.32016 v 123.20085 h 23.26516 v -88.0006 h 23.32016 v 0 h 23.26516 v -17.60013 h 23.32016 v 70.40049 h 23.26516 V 144 h 23.32016 v 17.60012 h 23.26516 v 105.60073 h 23.32017 v -17.60012 h 23.26516 v 70.40048 h 23.32016 v -17.60012 h 23.26516 V 144 h 23.32016 v 70.40049 h 23.26516 v 70.40048 h 23.32016 v 35.20024 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32017 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 H 535.7587 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 H 419.3229 v 0 h -23.32016 v 0 h -23.32017 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 H 116.4908 v 0 H 93.170644 v 0 H 69.905483 v 0 H 46.585322 v 0 H 23.320161 v 0 H 0 v 0 z"
        id="path1"
        style="stroke-width:0.550004"></path>
      <path
        fill="#34679b"
        fill-opacity="1"
        d="m 2876.1517,179.13698 v 105.60073 h 23.3202 v -17.60012 h 23.2651 v -88.00061 h 23.3202 v -35.20024 h 23.2651 v 35.20024 h 23.3202 v 105.60073 h 23.2652 v -35.20024 h 23.3201 v 35.20024 h 23.2652 V 161.53686 h 23.3202 v 70.40049 h 23.2651 v 17.60012 h 23.3202 v -70.40049 h 23.2651 v 0 h 23.3202 v -17.60012 h 23.2651 v 105.60073 h 23.3202 V 196.7371 h 23.2652 v 70.40049 h 23.3201 V 196.7371 h 23.3202 v -52.80036 h 23.2652 v 35.20024 h 23.3201 v 123.20085 h 23.2652 v -88.0006 h 23.3201 v 0 h 23.2652 V 196.7371 h 23.3202 v 70.40049 h 23.2651 V 143.93674 h 23.3202 v 17.60012 h 23.2651 v 105.60073 h 23.3202 v -17.60012 h 23.2652 v 70.40048 h 23.3201 v -17.60012 h 23.2652 V 143.93674 h 23.3202 v 70.40049 h 23.2651 v 70.40048 h 23.3202 v 35.20024 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 z"
        id="path1-0"
        style="stroke-width:0.550004"></path>
      <path
        fill="#34679b"
        fill-opacity="1"
        d="m 791.56723,179.20172 v 105.60074 h 23.32016 v -17.60013 h 23.26516 v -88.00061 h 23.32016 v -35.20024 h 23.26516 v 35.20024 h 23.32016 v 105.60074 h 23.26516 v -35.20025 h 23.32016 v 35.20025 h 23.26517 V 161.6016 h 23.32018 v 70.40049 h 23.2651 v 17.60012 h 23.3202 v -70.40049 h 23.2652 v 0 h 23.3201 V 161.6016 h 23.2652 v 105.60073 h 23.3201 v -70.40048 h 23.2652 v 70.40048 h 23.3202 v -70.40048 h 23.3201 v -52.80037 h 23.2652 v 35.20024 h 23.3201 v 123.20086 h 23.2652 v -88.00061 h 23.3202 v 0 h 23.2651 v -17.60012 h 23.3202 v 70.40048 h 23.2652 V 144.00148 h 23.3201 v 17.60012 h 23.2652 v 105.60073 h 23.3201 v -17.60012 h 23.2652 v 70.40049 h 23.3202 v -17.60012 h 23.2651 v -158.4011 h 23.3202 v 70.40049 h 23.2651 v 70.40049 h 23.3202 v 35.20024 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 H 1187.57 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.32018 v 0 h -23.26517 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 h -23.26516 v 0 h -23.32016 v 0 z"
        id="path1-1"
        style="stroke-width:0.550004"></path>
      <path
        fill="#34679b"
        fill-opacity="1"
        d="m 1583.25,179.20024 v 105.60073 h 23.3202 v -17.60012 h 23.2651 v -88.00061 h 23.3202 V 144 h 23.2651 v 35.20024 h 23.3202 v 105.60073 h 23.2652 v -35.20024 h 23.3201 v 35.20024 h 23.2652 V 161.60012 h 23.3202 v 70.40049 h 23.2651 v 17.60012 h 23.3202 v -70.40049 h 23.2651 v 0 h 23.3202 v -17.60012 h 23.2652 v 105.60073 h 23.3201 v -70.40049 h 23.2652 v 70.40049 h 23.3201 v -70.40049 h 23.3202 V 144 h 23.2652 v 35.20024 h 23.3201 v 123.20085 h 23.2652 v -88.0006 h 23.3201 v 0 h 23.2652 v -17.60013 h 23.3202 v 70.40049 h 23.2651 V 144 h 23.3202 v 17.60012 h 23.2651 v 105.60073 h 23.3202 v -17.60012 h 23.2652 v 70.40048 h 23.3201 V 302.40109 H 2305.35 V 144 h 23.3202 v 70.40049 h 23.2651 v 70.40048 h 23.3202 v 35.20024 h -23.3202 v 0 h -23.2651 v 0 H 2305.35 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 H 1583.25 v 0 z"
        id="path1-6"
        style="stroke-width:0.550004"></path>
      <path
        fill="#34679b"
        fill-opacity="1"
        d="m 2879.0039,320.0027 h -15.0133 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 H 2770.82 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2651 v 0 h -23.3202 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3201 v 0 h -23.2652 v 0 h -23.3202 v 0 -140.80098 105.60074 h 23.3202 v -17.60013 h 23.2652 v -88.00061 h 23.3201 v -35.20024 h 23.2652 v 35.20024 h 23.3201 v 105.60074 h 23.2652 v -35.20025 h 23.3202 v 35.20025 h 23.2651 V 161.6016 h 23.3202 v 70.40049 h 23.2651 v 17.60012 h 23.3202 v -70.40049 h 23.2652 v 0 h 23.3201 V 161.6016 h 23.2652 v 105.60073 h 23.3201 v -70.40048 h 23.2652 v 70.40048 h 23.3202 v -70.40048 h 23.3201 v -52.80037 h 23.2652 v 35.20024 h 23.3201 v 123.20086 h 23.2652 V 214.40197 H 2879"
        id="path1-1-3"
        style="stroke-width:0.550004"
        sodipodi:nodetypes="cccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccccc"
      ></path>
    </svg>

    <article class="landing-blue">
      <section class="leftb"></section>
      <section class="rightb">
        <p></p>
      </section>
    </article>
    <article class="landing">
      <section class="left">
        <p></p>
      </section>
      <section class="right"></section>
    </article>
  </main>
</Layout>
