---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Strona główna">
  <main>
    <article class="landing">
      <section class="left">
        <h1>Cześć, jestem <span>Kacper</span></h1>
        <p>
          Wielbiciel kawy, muzyki rockowej i kreskówek. Na co dzień pracuję jako <strong
            >Web Developer</strong
          > i <strong>Graphic Designer</strong>, a w wolnym czasie oddaję się
          rysunkom i siłowni.
        </p>
        <button><a href="/ktwardowski/about/">Więcej o mnie</a></button>
      </section>
      <section class="right"></section>
    </article>
    <article class="landing-blue">
      <section class="leftb"></section>
      <section class="rightb">
        <h1>Cele</h1>
        <p>
          Moje projekty nie są dziełem generatorów czy gotowych szablonów. Do
          każdej pracy podchodzę samodzielnie i od podstaw, odpowiednio
          dopasowując się do zaleceń. Chcę w życiu robić to, co kocham. Dlatego
          też rozwijam się w kierunku programowania, grafiki i rysunku. Moim
          celem jest stworzenie czegoś, co będzie nie tylko moją pasją, ale
          również pracą, którą będę mógł wykonywać z przyjemnością.
        </p>
      </section>
    </article>
  </main>
  <article class="landing">
    <section class="left">
      <h1>Projektuję, koduję, rysuję</h1>
      <p>
        Zapraszam Cię do sprawdzenia mojego portfolio, niezależnie czy
        interesują Cię strony internetowe, aplikacje webowe, logo czy zwykłe
        ilustracje.
      </p>
      <button><a href="/ktwardowski/portfolio/">Zobacz moje prace</a></button>
    </section>
    <section class="right"></section>
  </article>
</Layout>
