---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Strona główna">
  <main>
    <header>
      <div class="web">
        <a href="/">Kacper Twardowski</a>
        <p>Web Developer & Graphic Designer</p>
      </div>
      <nav>
        <a href="/portfolio/">Portfolio</a>
        <a href="/contact/">Kontakt</a>
        <a href="/blog/">Blog</a>
      </nav>
    </header>
    <article class="landing">
      <section class="left">
        <h1>Cześć, jestem <span>Kacper</span></h1>
        <p>
          Wielbiciel kawy, muzyki rockowej i kreskówek. Na co dzień pracuję jako <strong
            >Web Developer</strong
          > i <strong>Graphic Designer</strong>, a w wolnym czasie oddaję się rysunkom i siłowni.
        </p>
      </section>
      <section class="right"></section>
    </article>
	<article class="">

	</article>
  </main>
</Layout>

<style>
  h1 {
    font-size: 3.4rem;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 1em;
    text-wrap: balance;
  }
  .landing {
     display: flex; 
  }
  .left {
	width: 40%;
	padding-right: 1rem;
  }
  .right {
	width: 60%;
  }
  span, strong {
	color: var(--accent);
  }
</style>
