---
import {
  getLangFromUrl,
} from "../i18n/utils";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const lang = getLangFromUrl(Astro.url);

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang=pl>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Web Developer & Graphic Designer" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/ktwardowski/favicon.svg" />
    <meta name="generator" content="Kacper Twardowski" />
    <meta name="author" content="Kacper Twardowski" />
    <title>{title}</title>
  </head>
  <body>
    <Header />
      <slot />
    <Footer />
  </body>
</html>
<script>
  document.querySelector(".hamburger").addEventListener("click", () => {
    document.querySelector(".menu").classList.toggle("active");
  });
</script>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sono:wght@200..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
  :root {
    --accent: #3fd7fe;
    --accent-light: #a2e7ea;
    --accent-dark: #34679b;
    --white: #f1f3e9;
    --dark: #20201f;
    --accent-gradient: linear-gradient(
      45deg,
      var(--accent),
      var(--accent-light) 30%,
      white 60%
    );
  }
  html {
    font-family: "Fira Code", monospace;
    background-color: var(--dark);
    color: var(--white);
    scroll-behavior: smooth;
  }

  .landing {
    display: flex;
    padding-top: 6rem;
    margin: 0;
    height: 80vh;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Add overflow hidden */
  }

  .landingDown {
    display: flex;
    padding-top: 6rem;
    margin: 0;
    height: 90vh;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Add overflow hidden */
  }

  .landing::before,
  .landingDown::before {
    content: "";
    bottom: -200px;
    left: 800px;
    position: absolute;
    width: 75%;
    height: 75%;
    background: url("/halfball.svg") no-repeat;
    background-size: cover;
    opacity: 0.2;
    z-index: 0;
  }

  body {
    margin: 0;
    padding: 0;
    container: main / inline-size;
  }

  main {
    margin: auto;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    min-height: 95vh;
  }

  p {
    font-size: 1.3rem;
    font-weight: 350;
    max-width: 65ch;
    text-wrap: balance;
  }

  h1 {
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;
    text-wrap: balance;
  }

  .left {
    width: 50%;
    padding-right: 1rem;
    margin-left: 12rem;
  }
  .right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .right img {
    width: 60%;
    margin-bottom: 200px;
  }

  .landing-blue {
    display: flex;
    background-color: var(--accent-dark);
    width: 100%;
    padding: 2rem 0;
    height: 90vh;
  }

  .leftb {
    width: 60%;
  }
  .rightb {
    width: 40%;
    padding: 2rem 12rem 1rem 1rem;
    display: flex;
    flex-direction: column;
  }

  .left p,
  .rightb p {
    margin-bottom: 3rem;
  }

  h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--white);
    margin: 0;
  }

  .left {
    width: 40%;
    padding-right: 1rem;
  }
  .right {
    width: 60%;
  }
  span,
  strong {
    color: var(--accent);
  }

  button,
  .a-button {
    background-color: var(--white);
    border: none;
    border-radius: 0.5rem;
    color: var(--dark);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
  }

  button:hover,
  .a-button:hover {
    background-color: var(--accent);
    transform: scale(1.1);
  }

  a {
    color: var(--dark);
    text-decoration: none;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--accent) var(--dark);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--dark);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--accent);
  }

  @container main (max-width: 1200px) {
    .right,
    .leftb {
      display: none;
    }

    .landing {
      height: 100vh;
      padding-top: 2rem;
    }

    .landing::before,
    .landingDown::before {
      left: 500px;
      bottom: -370px;
    }

    h1 {
      font-size: 2.3rem;
      margin-top: 1rem;
    }

    .left p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .left,
    .rightb {
      width: 100%;
      padding: 1rem;
      margin: 2rem;
    }
  }

  @container main (max-width: 768px) {
    .right,
    .leftb {
      display: none;
    }

    .landing {
      height: 100vh;
      padding-top: 2rem;
    }

    .landing::before,
    .landingDown::before {
      left: 200px;
      bottom: -270px;
    }

    h1 {
      font-size: 2.3rem;
      margin-top: 1rem;
    }

    .left p,
    .rightb p {
      font-size: 1rem;
      margin-bottom: 2rem;
    }

    .left,
    .rightb {
      width: 100%;
      padding: 1rem;
      margin: 0.5rem;
    }

    .landingDown,
    .landing-blue {
      height: 100vh;
      padding: 2rem 0 2rem 0;
    }

    .desc p {
      display: none;
    }
  }
</style>
