---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <img src="/logo.svg" alt="Logo" class="logo" />
      <div class="inside">
        <div class="web">
          <a href="/">Kacper Twardowski</a>
          <p>Web Developer & Graphic Designer</p>
        </div>
        <nav>
          <a href="/">Strona główna</a>
          <a href="/about/">O mnie</a>
          <a href="/portfolio/">Portfolio</a>
          <a href="/contact/">Kontakt</a>
        </nav>
      </div>
    </header>
    <slot />
    <footer>
      <div class="fleft">
        <ul>
          <li>
            <a href="/">Strona główna</a>
          </li>
          <li>
            <a href="/about/">O mnie</a>
          </li>
          <li>
            <a href="/portfolio/">Portfolio</a>
          </li>
          <li>
            <a href="/contact/">Kontakt</a>
          </li>
        </ul>
        <h4>-Kacper Twardowski 2024-</h4>
      </div>
      <div class="fright">
        <h4>Znajdź mnie w sieci</h4>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/kacper-twardowski-a7b0a42a3/"
              >Linkedin</a
            >
          </li>
          <li>
            <a href="https://www.instagram.com/_ktwardowski_/">Instagram</a>
          </li>
          <li>
            <a href="https://github.com/Panelinio">GitHub</a>
          </li>
          <li>
            <a href="mailto:kacper.tw150@gmail.com">Mail</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Sono:wght@200..800&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");
  :root {
    --accent: #3fd7fe;
    --accent-light: #a2e7ea;
    --accent-dark: #34679b;
    --white: #f1f3e9;
    --dark: #20201f;
    --accent-gradient: linear-gradient(
      45deg,
      var(--accent),
      var(--accent-light) 30%,
      white 60%
    );
  }
  html {
    font-family: "Fira Code", monospace;
    background-color: var(--dark);
    color: var(--white);
    scroll-behavior: smooth;
  }

  footer {
    padding: 0px 180px 0px 180px;
    height: 200px;
    letter-spacing: 1.5px;
    background-color: var(--accent-dark);
    font-size: 1.5rem;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
  }

  footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background: url("/halftonekt.svg") repeat;
    opacity: 0.05;
    z-index: 0;
  }

  .landing {
    display: flex;
    padding-top: 6rem;
    margin: 0;
    height: 80vh;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Add overflow hidden */
  }

  .landingDown {
    display: flex;
    padding-top: 6rem;
    margin: 0;
    height: 90vh;
    position: relative; /* Add relative positioning */
    overflow: hidden; /* Add overflow hidden */
  }

  .landing::before,
  .landingDown::before {
    content: "";
    bottom: -200px;
    left: 800px;
    position: absolute;
    width: 75%; /* Increase width */
    height: 75%; /* Increase height */
    background: url("/halfball.svg") no-repeat;
    background-size: cover; /* Ensure the background covers the entire area */
    opacity: 0.2;
    z-index: 0;
  }

  footer * {
    position: relative;
    z-index: 1;
  }

  .fleft,
  .fright {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  footer a {
    display: block;
    margin-top: 5px;
    color: var(--white);
    text-decoration: none;
    font-size: 1.1rem;
    margin: 0.2rem;
    font-weight: 400;
  }

  footer ul {
    list-style: none;
    padding: 0;
    margin: 5px;
    display: flex;
    justify-content: center;
  }

  footer ul li {
    margin: 0 10px;
  }

  footer h4 {
    font-size: 1.3rem;
    margin: 0.5rem 1rem;
  }

  .logo {
    width: 75px;
    height: 75px;
    margin-left: 1rem;
  }

  body {
    margin: 0;
    padding: 0;
  }

  main {
    margin: auto;
    width: 100%;
    font-size: 15px;
    line-height: 1.6;
    min-height: 95vh;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    top: 0;
    background-color: var(--dark);
    z-index: 1000;
    box-shadow: inset 0 -1px 0 0 var(--accent-dark);
  }

  header nav a {
    color: var(--white);
    text-decoration: none;
    position: relative;
    display: inline-block;
  }

  header nav a::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 2px;
    left: 0;
    background: var(--accent);
    transition:
      width 0.4s ease,
      left 0.4s ease;
  }

  header nav a:hover::after {
    width: 100%;
    left: 0;
  }

  .inside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
  }

  .web {
    display: flex;
    flex-direction: column;
    padding: 1.3rem 1rem 0rem 0rem;
  }

  .web a {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--accent-dark);
    text-decoration: none;
  }

  .web p {
    font-size: 1.2rem;
    font-weight: 300;
    margin-top: 5px;
    color: #f1f3e9;
  }

  nav {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    margin-right: 1rem;
  }

  nav a {
    margin-left: 2.5rem;
    transition: all 0.2s ease-out 0.5ms;
  }

  nav a:hover {
    color: var(--accent);
  }

  p {
    font-size: 1.3rem;
    font-weight: 350;
    max-width: 65ch;
    text-wrap: balance;
  }

  h1 {
    font-size: 3.1rem;
    font-weight: 600;
    line-height: 1;
    margin-bottom: 1em;
    text-wrap: balance;
  }

  .left {
    width: 50%;
    padding-right: 1rem;
    margin-left: 12rem;
  }
  .right {
    width: 50%;
  }
  .landing-blue {
    display: flex;
    background-color: var(--accent-dark);
    width: 100%;
    padding: 2rem 0;
    height: 90vh;
  }

  .leftb {
    width: 60%;
  }
  .rightb {
    width: 40%;
    padding-right: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h2 {
    font-size: 2.3rem;
    font-weight: 700;
    color: var(--white);
    margin: 0;
  }

  .left {
    width: 40%;
    padding-right: 1rem;
  }
  .right {
    width: 60%;
  }
  span,
  strong {
    color: var(--accent);
  }

  button {
    background-color: var(--white);
    border: none;
    border-radius: 0.5rem;
    color: var(--dark);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 0rem;
    padding: 0.5rem 1rem;
    transition: all 0.2s ease-out;
  }

  button:hover {
    background-color: var(--accent);
    transform: scale(1.1);
  }

  button a {
    color: var(--dark);
    text-decoration: none;
  }

  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: var(--accent) var(--dark);
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: var(--dark);
  }

  *::-webkit-scrollbar-thumb {
    background-color: var(--accent);
  }
</style>
